alex-project-showcase {
  padding: $sizing-unit*2 0;

  .project-title {
    color: $color-primary;
    font-family: $font-family-condensed;
    position: relative;
    top: $sizing-unit*1.5;
    @include transition(all .2s $easing-swift-out);
  }

  .project-content {
    color: $color-text;
    padding: $sizing-unit;
    position: relative;
    @include transition(all .2s $easing-swift-out);

    &:before {
      content: '';
      display: block;
      opacity: 0;
      z-index: 1;
      @extend .fit;
      @include transition(opacity .2s $easing-swift-out);
    }

    .project-desc {
      position: relative;
      z-index: 2;
    }
  }

  .project-content p {
    margin: 0;
  }

  &:hover {
    .project-title {
      top: 0;
      @include transition(all .2s $easing-swift-out);
    }

    .project-content {
      color: #fff;
      padding: $sizing-unit*8;
      @include transition(all .2s $easing-swift-out);

      &:before {
        opacity: 1;
        @include transition(opacity .2s $easing-swift-out);
      }
    }
  }
}
