alex-project-footer {
  border: solid $color-muted;
  border-width: $border-width 0;
  @extend .panel-margin;

  a {
    border-bottom: none;
    color: $color-muted;

    &:hover {
      background-color: transparent;
      color: $color-text;
    }
  }
}
