button,
.alex-button {
  background: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  cursor: pointer;
  line-height: 1;
  padding: $button-padding;
  text-transform: uppercase;

  &.button-small {
    padding: 6px 12px;
  }

  &.button-medium {
    padding: 12px 22px;
  }
}
