sc-swiper {
  .swiper-container {
    .swiper-button-prev, .swiper-button-next {
      bottom: 0;
      height: 100%;
      padding: $base-unit $sizing-unit*2;
      position: absolute;
      top: 0;
      z-index: 99;
    }

    .swiper-button-prev {
      @extend .chevron;
    }

    .swiper-button-next {
      transform: rotate(180deg);
      @extend .chevron;
    }
  }
}
