input {
  background: transparent;
  border: none;
  border-bottom: 3px solid $color-muted;
  font-size: $font-size;
  font-family: $font-family;
  outline: none;
  padding: $base-unit 0;
  width: 100%;
}
