.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: $base-unit;
  padding-right: $base-unit;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    padding-left:  ($layout-gutter-width);
    padding-right: ($layout-gutter-width);

    width: 940px + $layout-gutter-width*2;
  }
  @media (min-width: $breakpoint-desktop) {
    width: 1140px + $layout-gutter-width*2;
  }
}

.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}

.layout-gutters {
  > * {
    margin-right: $layout-gutter-width;

    &:last-child {
      margin-right: 0;
    }
  }
}

.layout-fill-viewport {
  height: 100vh;
  width: 100%;

  &.has-header {
    height: calc(100vh - 108px);
    padding-bottom: 108px;
  }

  &.has-footer {
    height: calc(100vh - 78px);
    padding-top: 78px;
  }
}
