.panel-light {
  background-color: $color-light;
}

.panel-primary {
  background-color: $color-primary;
}

.panel-margin {
  margin: $sizing-unit*2 0;
}

.padding-panel {
  padding: $sizing-unit*2;
}
