body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-body-weight;
  color: $color-text;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-text;
  font-family: $font-family-heading;
  font-weight: $font-heading-weight;
  line-height: 1.1em;
}

h1 span, h2 span, h3 span {
  font-weight: 300;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  margin-bottom: $base-unit;
}

h4 {
  color: $color-muted;
  font-family: $font-family;
  font-weight: $font-body-weight;
  text-transform: uppercase;
}

p {
  margin: 0 0 $sizing-unit;
}

a {
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
  text-decoration: none;
}

::selection {
  background: $color-primary;
  color: #fff;
}

/* Text Modifiers */
.text-small {
  font-size: 80%;
}

.text-hero {
  font-size: 150%;
  line-height: 1.2em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  @include ellipsis();
}

.text-condensed {
  font-family: $font-family-condensed;
}

/* Text Colors */
.color-primary {
  color: $color-primary !important;
}

.color-positive {
  color: $color-positive !important;
}

.color-negative {
  color: $color-negative !important;
}

.color-dark {
  color: $color-dark !important;
}

.color-muted {
  color: $color-muted !important;
}

.color-white {
  color: #fff !important;
}
